.axis path,
.axis line {
  fill: none; stroke: black; shape-rendering: crispEdges;
}

div.interface {
  border: 1px solid;
  border-radius: 4px;
  border-color: #A0A0A0;
  width: 600px;
  padding: 10px;
  margin-bottom: 5px;
}

div.input-slider {
    margin-left: 15px;
}
