<!DOCTYPE html>
<html>

  {% include scripts.html %}
  {% include head.html %}

  <body>

    {% include header.html %}
    <div id="oscilloscope-top" height=200></div>

    <div class="page-content">
        {{ content }}
    </div>

    <div id="oscilloscope-bottom" height=200></div>
    {% include footer.html %}

  </body>

<script type="text/javascript">
  var fp1 = randomPolynomial(15) 
  var osc1 = new Oscilloscope(fp1)
  osc1.render('div#oscilloscope-bottom')
  var fp2 = randomPolynomial(15) 
  var osc2 = new Oscilloscope(fp2)
  osc2.render('div#oscilloscope-top')

  document.addEventListener("DOMContentLoaded", function(event) { 

    window.addEventListener("resize", function() {
        var top = document.getElementById('oscilloscope-top')
        var bottom = document.getElementById('oscilloscope-bottom')
        top.removeChild(top.lastChild)
        bottom.removeChild(bottom.lastChild)
        osc1.render('div#oscilloscope-top')
        osc2.render('div#oscilloscope-bottom')
    })

  })
</script>

</html>
